:root {
    --main-orange: #ff6200;
    --deep-orange: #cc5206;
    --dark-orange: #89512e;
    --main-bkg: #fcf1eb;
    --second-bkg: #ffefe5;
    --light-gray: #8b8b8b;
    --lighter-gray: #CCCCCC;
    --bright-gray: #f0f0f0;
    --deep-gray: #5b5b5b;
    --pure-white: white;
    --pure-black: black;
}

body {
    padding: 0;
    margin: 0;
}

.dining-body {
    background-color: var(--main-bkg);
    transition-duration: 0.4s;
}

.box-left {
    float: left;
    width: 50%;
    min-width: 300px;
    padding-top: 5%;
}

.box-right {
    float: left;
    width: 50%;
    min-width: 300px;
    padding-top: 5%;
}

.float {
    width: 90%;
    margin-left: 5%;
    background-color: var(--bright-gray);
    border-radius: 20px;
    transition-duration: 0.4s;
}

.float:hover{
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
}


.title {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--pure-black);
    transition-duration: 0.4s;
}

.subtitle {
    font-size: 1rem;
    margin-left: 5%;
    padding-bottom: 10px;
    color: var(--deep-gray);
    transition-duration: 0.4s;
}

.list {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    padding-bottom: 20px;
}

.food {
    width: 100%;
    height: 80px;
    background-color: var(--lighter-gray);
    margin-top: 5px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.food:hover {
    transform: scale(1.1);
    background-color: var(--light-gray);
}

button {
    border: 0;
}

.listbtn {
    font-size: 1rem;
    font-weight: lighter;
    width: 100%;
    height: 50px;
    background-color: var(--bright-gray);
    color: var(--pure-black);
    margin-top: 5px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border-color: var(--lighter-gray);
    border-style: solid;
    border-width: 2px;
}

.listbtn:hover {
    border-color: var(--main-orange);
}

.listbtn:active {
    background-color: var(--lighter-gray);
}

/*general*/
.drag-part {
    position: fixed;
    z-index: 998;
    top: 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* 高度自行调整 */
    height: 30px;
    /* 拖拽 */
    -webkit-app-region: drag;
}

.btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 6px;
    position: fixed;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}

.close-btn {
    background: #FF5D5B;
    border: 1px solid #CF544D;
    top: 20px;
    right: 20px;
    transition-duration: 0.4s;
}

.close-btn:hover {
    transform: scale(1.1);
    background: #b74341;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
}

.darkmode-btn {
    background: #3b3b3b;
    border: 1px solid #3b3b3b;
    top: 20px;
    right: 50px;
    transition-duration: 0.4s;
}

.darkmode-btn:hover {
    transform: scale(1.1);
    background: #686868;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
}

.lightmode-btn {
    background: #dfdfdf;
    border: 1px solid #bbbbbb;
    top: 20px;
    right: 50px;
    transition-duration: 0.4s;
}

.lightmode-btn:hover {
    transform: scale(1.1);
    background: #b3b3b3;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
}

/*dining-add.html*/
.box-add {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
}

input {
    padding: 0;
    margin: 0;
    float: left;
    outline: 0;
}

.add-title {
    font-size: 20px;
    color: var(--pure-black);
}

.food-add {
    color: var(--pure-black);
    width: 90%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--deep-gray);
    border-style: solid;
    background-color: var(--pure-white);
    transition-duration: 0.4s;
    padding-left: 5%;
    padding-right: 5%;
}

.food-add:focus {
    border-color: var(--main-orange);
}

.float-box-add {
    padding-top: 20px;
    padding-bottom: 20px;
}

.addpicBTN {
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    min-height: 45px;
    background-color: var(--pure-white);
    color: var(--pure-black);
    margin-top: 5px;
    border-radius: 50px;
    transition-duration: 0.4s;
    border-color: var(--main-orange);
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addpicBTN:hover {
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--main-orange);
    color: var(--pure-white);
}

.addpic {
    display: none;
}

.addpic-img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 0px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    transition-duration: 0.4s;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.addBTN {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 50px;
    background-color: var(--main-orange);
    color: var(--pure-white);
    margin-top: 5px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border-color: var(--main-orange);
    border-style: solid;
    border-width: 2px;
}

.addBTN:hover {
    background-color: var(--pure-white);
    color: var(--pure-black);
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.addBTN:active {
    background-color: var(--lighter-gray);
}