:root {
    --main-orange: #ff6200;
    --deep-orange: #cc5206;
    --dark-orange: #89512e;
    --main-bkg: #fcf1eb;
    --second-bkg: #ffefe5;
    --light-gray: #8b8b8b;
    --lighter-gray: #CCCCCC;
    --bright-gray: #f0f0f0;
    --deep-gray: #5b5b5b;
    --pure-white: white;
    --pure-black: black;
}

.login-body, .index-body, .order-body {
    background-color: var(--main-bkg);
    transition-duration: 0.4s;
}

div, img {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
    -webkit-user-drag: none;
}

h1 {
    color: var(--main-orange);
    font-size: 50px;
}

.right-title {
    margin-left: 10%;
}

.right-subtitle {
    color: var(--dark-orange);
    font-weight: lighter;
    font-size: 25px;
    margin-left: 10%;
    margin-top: -40px;
}

.left-subtitle {
    color: var(--dark-orange);
    font-weight: lighter;
    font-size: 25px;
    margin-top: -40px;
}

.block-left {
    width: 30%;
    float: left;
    margin-left: 10%;
}

.block-right {
    width: 50%;
    float: right;
    margin-right: 10%;
}

.order-list-box {
    position: absolute;
    width: 45%;
    height: 60%;
    margin-left: 5%;
    margin-top: 0%;
}

.order-list {
    display: flex;
    height: 100px;
    width: 100px;
    float: left;
    background-color: var(--pure-white);
    color: var(--pure-black);
    border: 2px solid var(--main-orange);
    border-radius: 20px;
    margin-right: -100%;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    transform: scale(0);
}

.order-list:hover {
    background-color: var(--main-orange);
    color: var(--pure-white);
}

.order-list-clicked {
    height: 100px;
    width: 100px;
    float: left;
    background-color: var(--main-orange);
    color: var(--pure-white);
    border: 2px solid var(--main-orange);
    border-radius: 20px;
    margin-right: 1%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login_R {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: var(--pure-white);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

h3 {
    margin-left: 10%;
    margin-top: 10%;
    color: var(--main-orange);
    font-size: 25px;
}

.font_s {
    margin-left: 50px;
    margin-top: -5%;
    margin-bottom: 0%;
    color: var(--light-gray);
    font-size: 40px;
}

.font_ss {
    width: 400px;
    margin-left: 50px;
    color: var(--light-gray);
    font-size: 20px;
}

.text_id,
.text_password {
    width: 356px;
    height: 40px;
    margin-left: 50px;
    border-color: var(--lighter-gray);
    border-width: 2px;
    border-style: solid;
    transition-duration: 0.4s;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--light-gray);
    background-color: var(--pure-white);
}

.text_id:focus,
.text_password:focus {
    outline: none;
    border-color: var(--main-orange);
    color: var(--main-orange);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.LoginBTN {
    float: left;
    background-color: var(--main-orange);
    color: var(--pure-white);
    width: 230px;
    height: 45px;
    border: 0;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 40px;
    transition-duration: 0.4s;
}

.SignupBTN {
    float: left;
    background-color: var(--light-gray);
    color: var(--pure-white);
    width: 150px;
    height: 45px;
    border: 0;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 40px;
    transition-duration: 0.4s;
}

.LoginBTN:hover {
    background-color: var(--deep-orange);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.SignupBTN:hover {
    background-color: var(--deep-gray);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.closeBTN {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1%;
    margin-top: 1%;
    z-index: 999;
}

.drag-part {
    position: fixed;
    z-index: 998;
    top: 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* 高度自行调整 */
    height: 30px;
    /* 拖拽 */
    -webkit-app-region: drag;
}

.btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 6px;
    position: fixed;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}

.close-btn {
    background: #FF5D5B;
    border: 1px solid #CF544D;
    top: 20px;
    right: 20px;
    transition-duration: 0.4s;
}

.close-btn:hover {
    transform: scale(1.1);
    background: #b74341;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
}

.darkmode-btn {
    background: #3b3b3b;
    border: 1px solid #3b3b3b;
    top: 20px;
    right: 50px;
    transition-duration: 0.4s;
}

.darkmode-btn:hover {
    transform: scale(1.1);
    background: #686868;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
}

.lightmode-btn {
    background: #dfdfdf;
    border: 1px solid #bbbbbb;
    top: 20px;
    right: 50px;
    transition-duration: 0.4s;
}

.lightmode-btn:hover {
    transform: scale(1.1);
    background: #b3b3b3;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.24), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
}

.rest-list {
    background-color: var(--pure-white);
    height: 60%;
    width: 30%;
    border-radius: 30px;
    position: absolute;
    transition-duration: 0.4s;
}

.rest-pic {
    width: 100%;
    margin-left: -100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.rest-pic:hover {
    filter: blur(10px);
}

.rest-title {
    margin-left: 5%;
    margin-right: 5%;
}

.rest-title-font {
    font-size: 3vw;
    margin-top: 5%;
    font-weight: bold;
    color: var(--lighter-gray);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.rest-list-box {
    height: 65%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}

.rest-list-case {
    width: 65%;
    height: 50%;
    margin-right: 5%;
    border-radius: 20px;
    float: left;
    z-index: 999;
    display: flex;
    overflow: hidden;
}

.rest-list-title {
    font-size: 1.8vw;
    color: var(--pure-white);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-weight: normal;
    pointer-events: none;
}

.rest-list-btn {
    float: left;
    width: 30%;
    height: 50%;
    background-color: var(--main-orange);
    border: var(--pure-white);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pure-white);
    transition-duration: 0.4s;
}

.rest-list-btn:hover {
    background-color: var(--pure-white);
    color: var(--main-orange);
    border: 2px solid var(--main-orange);
}

.rest-list-btn-selected {
    float: left;
    width: 30%;
    height: 50%;
    background-color: var(--pure-white);
    color: var(--main-orange);
    border: 2px solid var(--main-orange);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

.orderBTN-box {
    position: absolute;
    height: 50px;
    width: 200px;
    bottom: 10%;
    right: 10%;
}

.orderBTN {
    font-size: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--pure-white);
    color: var(--main-orange);
    border: 2px solid var(--main-orange);
    transition-duration: 0.4s;
}

.orderBTN:hover {
    color: var(--pure-white);
    font-size: 30px;
    background-color: var(--main-orange);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.orderBTN:active {
    background-color: var(--deep-orange);
}

.empty {
    height: 35%;
}

.empty5 {
    width: 100%;
    height: 5%;
    position: relative;
    display: flex;
}

/*order.html*/
.order-body {
    margin: 0;
}

.map-box {
    width: 100%;
    height: 300px;
    z-index: -1;
    position: absolute;
    top: 0%;
    overflow: hidden;
}

.mapimg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: -1;
    transition-duration: 0.1s;
}

.mapimg:hover {
    transform: scale(1.1);
}

.bkg-box {
    background-color: var(--second-bkg);
    box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.24), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding-bottom: 10px;
    z-index: 999;
    margin-top: 200px;
    transition-duration: 0.4s;
}

.info-box {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.info {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pure-white);
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    transition-duration: 0.4s;
}

.info:hover {
    background-color: var(--bright-gray);
    transform: scale(1.1);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.24), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}

.info-box-title {
    font-size: 25px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: lighter;
    color: var(--pure-black);
}

.info-box-text {
    font-size: 15px;
    height: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: lighter;
    margin-bottom: 15px;
    color: var(--pure-black);
}

.info-box-tag {
    color: var(--main-orange);
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.info-list-title {
    width: 100%;
    font-size: 25px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pure-black);
}

.info-list-price {
    font-weight: bold;
    font-size: 14px;
    color: var(--pure-black);
}

.info-rest {
    width: 100%;
    font-size: 12px;
    font-weight: lighter;
    color: var(--pure-black);
}

.check-box {
    width: 100%;
    padding-top: 40px;
}

.checkout {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}

.checkout:hover {
    transform: scale(1.1);
}

.price {
    font-weight: lighter;
    font-size: 45px;
    color: var(--pure-black);
}

.yuan {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-orange);
}

.yuan-info {
    color:var(--main-orange);
}

.checkBTN {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    height: 55px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--main-orange);
    color: var(--pure-white);
    border: 2px solid var(--main-orange);
    transition-duration: 0.4s;
}

.checkBTN:hover {
    background-color:var(--pure-white);
    color: var(--main-orange);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*signup.html*/
.signup_id,
.signup_password {
    width: 356px;
    height: 40px;
    margin-left: 50px;
    border-color: var(--lighter-gray);
    border-width: 2px;
    border-style: solid;
    transition-duration: 0.4s;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--pure-white);
}

.signup_id:focus,
.signup_password:focus {
    outline: none;
    border-color: var(--main-orange);
    color: var(--main-orange);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.signup_drop {
    width: 150px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 0;
}

.dropbtn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    transition-duration: 0.4s;
    padding-left: 22px;
}

.dropbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    transform: scale(1.1);
}

.dropdown-content {
    display: block;
    position: absolute;
    min-width: 100px;
    margin-left: 50px;
    height: 0px;
}

.dropdown-content button {
    color: var(--light-gray);
    background-color: var(--pure-white);
    padding: 10px 10px;
    height: 45px;
    width: 150px;
    border: 2px solid var(--main-orange);
    font-size: 15px;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 50px;
    text-align: center;
    transition-duration: 0.4s;
    transform: scale(0);
    font-weight: lighter;
}

.dropdown-content button:hover {
    background-color: var(--main-orange);
    color: var(--pure-white);
    font-weight: bold;
}
/*
.signup_drop:hover +.dropdown-content {
    display: block;
}

.dropdown-content:hover {
    display: block;
}
*/
.Signup_PageBTN {
    float: left;
    background-color: var(--main-orange);
    color: var(--pure-white);
    width: 400px;
    height: 45px;
    border: 0;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 40px;
    transition-duration: 0.4s;
}

.Signup_PageBTN:hover {
    background-color: var(--deep-orange);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.dropSVG {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    transform: rotate(-90deg);
    filter: invert(50%) sepia(37%) saturate(9%) hue-rotate(344deg) brightness(101%) contrast(94%);
    transition-duration: 0.4s;
    margin-left: -15px;
}

.font_password {
    width: 400px;
    color: var(--light-gray);
    font-size: 20px;
}

.passSVG {
    height: 25px;
    width: 25px;
    filter: invert(50%) sepia(37%) saturate(9%) hue-rotate(344deg) brightness(101%) contrast(94%);
    transition-duration: 0.4s;
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 5px;
    transform: translateY(5px);
}

.pass-box {
    position: relative;
    padding: 0;
    width: auto;
    margin-left: 50px;
    margin-bottom: 10px;
    z-index: -1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.empty10px {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 10px;
}