
body {
    background:url("bkg.png")  no-repeat center center;   /*加载背景图*/   /* 背景图不平铺 */
    background-size:cover;  /* 让背景图基于容器大小伸缩 */
    background-attachment:fixed;        /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */ 
    background-color:#CCCCCC;   /* 设置背景颜色，背景图加载过程中会显示背景色 */
  }

h1 
{
    color:#ff6200;
    font-size: 50px;
}

h2
{
    color: rgb(197, 197, 197);
}

.block
{
    width: 50%;
    float: left;
}

.order-list
{
    height: 50px;
    background-color: rgb(174, 174, 174);
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    vertical-align: middle;
}

.login_L
{
    width: 60%;
    height: 100%;
    background-color: #ff6200;
    float: left;
    
}

.login_R
{
    position: absolute;
    width: 500px;
    height: 500px;
    float: right;
    background-color: white;
    text-align: left;
    vertical-align: middle;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h3
{
    margin-left: 10%;
    margin-top: 10%;
    color: #ff6200;
    font-size: 25px;
}

.font_s
{
    margin-left: 10%;
    margin-top: -5%;
    margin-bottom: 0%;
    color: #8b8b8b;
    font-size: 40px;
}

.font_ss
{
    width: 95%;
    margin-left: 10%;
    color: #8b8b8b;
    font-size: 20px;
}

.text_id
{
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.text_password
{
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.LoginBTN
{
    background-color:#f66f6a;
    color:white;
    width: 400px;
    height: 45px;
    border:0;
    font-size: 16px;
    box-sizing: content-box;				
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.LoginBTN:hover
{
    background-color: #a54b4a;
}

.closeBTN
{
    position:absolute;
    top:0;
    right:0;
    margin-right: 1%;
    margin-top: 1%;
    z-index: 999;
}

.drag-part {
    position: absolute;
    z-index: 998;
    top: 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* 高度自行调整 */
    height: 30px;
    /* 拖拽 */
    -webkit-app-region: drag;
  }

  .btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 6px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.close-btn {
    float: right;
    background: #FF5D5B;
    border: 1px solid #CF544D;
}

/* Close btn */
.close-btn:before, .close-btn:after {
    width: 1px;
    height: 70%;
    background: #460100;
}

.close-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}