
.login-body {
    background:url("login-bkg.jpg")  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
}

.index-body {
    background-color:#f8cdb2;
}

h1 
{
    color:#ff6200;
    font-size: 50px;
}

.right-title
{
    margin-left: 10%;
    margin-top: 0%;
}

.right-subtitle
{
    margin-left: 10%;
    margin-top: -5%;
}

h2
{
    color: #89512e;
    font-weight: lighter;
    font-size: 25px;
    margin-top: -10%;
}

.block-left
{
    width: 30%;
    float: left;
    margin-left: 10%;
}

.block-right
{
    width: 50%;
    float: right;
    margin-right: 10%;
}

.order-list-box {
    position: absolute;
    width: 45%;
    height: 60%;
    margin-left: 5%;
    margin-top: -1%;
}

.order-list
{
    height: 100px;
    width: 100px;
    float: left;
    background-color: white;
    color: black;
    border: 2px solid #ff6200;
    border-radius: 20px;
    margin-right: 1%;
    margin-top: 1%;
	display:flex;
	align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}

.order-list:hover {
    background-color: #ff6200;
    color: white;
}

.order-list-clicked {
    height: 100px;
    width: 100px;
    float: left;
    background-color: #ff6200;
    color: white;
    border: 2px solid #ff6200;
    border-radius: 20px;
    margin-right: 1%;
    margin-top: 1%;
	display:flex;
	align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.login_L
{
    width: 60%;
    height: 100%;
    background-color: #ff6200;
    float: left;
    
}

.login_R
{
    position: absolute;
    width: 500px;
    height: 500px;
    float: right;
    background-color: white;
    text-align: left;
    vertical-align: middle;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h3
{
    margin-left: 10%;
    margin-top: 10%;
    color: #ff6200;
    font-size: 25px;
}

.font_s
{
    margin-left: 10%;
    margin-top: -5%;
    margin-bottom: 0%;
    color: #8b8b8b;
    font-size: 40px;
}

.font_ss
{
    width: 95%;
    margin-left: 10%;
    color: #8b8b8b;
    font-size: 20px;
}

.text_id
{
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.text_password
{
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.LoginBTN
{
    background-color:#f66f6a;
    color:white;
    width: 400px;
    height: 45px;
    border:0;
    font-size: 16px;
    box-sizing: content-box;				
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.LoginBTN:hover
{
    background-color: #a54b4a;
}

.closeBTN
{
    position:absolute;
    top:0;
    right:0;
    margin-right: 1%;
    margin-top: 1%;
    z-index: 999;
}

.drag-part {
    position: absolute;
    z-index: 998;
    top: 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* 高度自行调整 */
    height: 30px;
    /* 拖拽 */
    -webkit-app-region: drag;
  }

.btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 6px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.close-btn {
    float: right;
    background: #FF5D5B;
    border: 1px solid #CF544D;
}

/* Close btn */
.close-btn:before, .close-btn:after {
    width: 1px;
    height: 70%;
    background: #460100;
}

.close-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.rest-list {
    background-color: white;
    height: 60%;
    width: 30%;
    border-radius: 30px;
    position: absolute;
}

.rest-pic {
    width: 100%;
    margin-left: -100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.rest-pic:hover {
    filter: blur(10px);
}

.rest-title {
    margin-left: 5%;
    margin-right: 5%;
}

.rest-title-font {
    font-size: 3vw;
    margin-top: 5%;
    font-weight: bold;
    color: #CCCCCC;
    width: 90%;
	display:flex;
	align-items: center;
    justify-content: center;
    position: absolute;
}

.rest-list-box {
    height: 65%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}

.rest-list-case {
    width: 65%;
    height: 50%;
    margin-right: 5%;
    border-radius: 20px;
    float: left;
    z-index: 999;
	display:flex;
    overflow: hidden;
}

.rest-list-title {
    font-size: 1.8vw;
    color: white;
    height: 100%;
    width: 100%;
	display:flex;
	align-items: center;
    justify-content: center;
    z-index: 999;
    font-weight: normal;
    pointer-events: none;
}

.rest-list-btn {
    float: left;
    width: 30%;
    height: 50%;
    background-color: #ff6200;
    border: white;
    border-radius: 20px;
	display:flex;
	align-items: center;
    justify-content: center;
    color: white;
    transition-duration: 0.4s;
}

.rest-list-btn:hover {
    background-color: white;
    color: #ff6200;
    border: 2px solid #ff6200;
}

.rest-list-btn-selected {
    float: left;
    width: 30%;
    height: 50%;
    background-color: white;
    color: #ff6200;
    border: 2px solid #ff6200;
    border-radius: 20px;
	display:flex;
	align-items: center;
    justify-content: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

.empty {
    height: 35%;
}

.empty5 {
    width: 100%;
    height: 5%;
    position: relative;
	display:flex;
}