.login-body, .index-body, .order-body {
    background-color: #ffe7d8;
}

h1 {
    color: #ff6200;
    font-size: 50px;
}

.right-title {
    margin-left: 10%;
    margin-top: 0%;
}

.right-subtitle {
    margin-left: 10%;
    margin-top: -5%;
}

h2 {
    color: #89512e;
    font-weight: lighter;
    font-size: 25px;
    margin-top: -10%;
}

.block-left {
    width: 30%;
    float: left;
    margin-left: 10%;
}

.block-right {
    width: 50%;
    float: right;
    margin-right: 10%;
}

.order-list-box {
    position: absolute;
    width: 45%;
    height: 60%;
    margin-left: 5%;
    margin-top: 0%;
}

.order-list {
    display: none;
    height: 100px;
    width: 100px;
    float: left;
    background-color: white;
    color: black;
    border: 2px solid #ff6200;
    border-radius: 20px;
    margin-right: 1%;
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}

.order-list:hover {
    background-color: #ff6200;
    color: white;
}

.order-list-clicked {
    height: 100px;
    width: 100px;
    float: left;
    background-color: #ff6200;
    color: white;
    border: 2px solid #ff6200;
    border-radius: 20px;
    margin-right: 1%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login_R {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h3 {
    margin-left: 10%;
    margin-top: 10%;
    color: #ff6200;
    font-size: 25px;
}

.font_s {
    margin-left: 50px;
    margin-top: -5%;
    margin-bottom: 0%;
    color: #8b8b8b;
    font-size: 40px;
}

.font_ss {
    width: 400px;
    margin-left: 50px;
    color: #8b8b8b;
    font-size: 20px;
}

.text_id,
.text_password {
    width: 356px;
    height: 40px;
    margin-left: 50px;
    border-color: #CCCCCC;
    border-width: 2px;
    border-style: solid;
    transition-duration: 0.4s;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: gray;
}

.text_id:focus,
.text_password:focus {
    outline: none;
    border-color: #ff6200;
    color: #ff6200;
}

.LoginBTN {
    float: left;
    background-color: #ff6200;
    color: white;
    width: 230px;
    height: 45px;
    border: 0;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 40px;
    transition-duration: 0.4s;
}

.SignupBTN {
    float: left;
    background-color: #848484;
    color: white;
    width: 150px;
    height: 45px;
    border: 0;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 40px;
    transition-duration: 0.4s;
}

.LoginBTN:hover {
    background-color: #cc5206;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.SignupBTN:hover {
    background-color: #5b5b5b;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.closeBTN {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1%;
    margin-top: 1%;
    z-index: 999;
}

.drag-part {
    position: absolute;
    z-index: 998;
    top: 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* 高度自行调整 */
    height: 30px;
    /* 拖拽 */
    -webkit-app-region: drag;
}

.btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 6px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}

.close-btn {
    margin-top: 1%;
    float: right;
    background: #FF5D5B;
    border: 1px solid #CF544D;
}

/* Close btn */
.close-btn:before,
.close-btn:after {
    width: 1px;
    height: 70%;
    background: #460100;
}

.close-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.rest-list {
    background-color: white;
    height: 60%;
    width: 30%;
    border-radius: 30px;
    position: absolute;
}

.rest-pic {
    width: 100%;
    margin-left: -100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.rest-pic:hover {
    filter: blur(10px);
}

.rest-title {
    margin-left: 5%;
    margin-right: 5%;
}

.rest-title-font {
    font-size: 3vw;
    margin-top: 5%;
    font-weight: bold;
    color: #CCCCCC;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.rest-list-box {
    height: 65%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}

.rest-list-case {
    width: 65%;
    height: 50%;
    margin-right: 5%;
    border-radius: 20px;
    float: left;
    z-index: 999;
    display: flex;
    overflow: hidden;
}

.rest-list-title {
    font-size: 1.8vw;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-weight: normal;
    pointer-events: none;
}

.rest-list-btn {
    float: left;
    width: 30%;
    height: 50%;
    background-color: #ff6200;
    border: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition-duration: 0.4s;
}

.rest-list-btn:hover {
    background-color: white;
    color: #ff6200;
    border: 2px solid #ff6200;
}

.rest-list-btn-selected {
    float: left;
    width: 30%;
    height: 50%;
    background-color: white;
    color: #ff6200;
    border: 2px solid #ff6200;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

.orderBTN-box {
    position: absolute;
    height: 50px;
    width: 200px;
    bottom: 10%;
    right: 10%;
}

.orderBTN {
    font-size: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    color: #ff6200;
    border: 2px solid #ff6200;
    transition-duration: 0.4s;
}

.orderBTN:hover {
    color: white;
    font-size: 30px;
    background-color: #ff6200;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.orderBTN:active {
    background-color: #cc5206;
}

.empty {
    height: 35%;
}

.empty5 {
    width: 100%;
    height: 5%;
    position: relative;
    display: flex;
}

/*order.html*/
.order-body {
    margin: 0;
}

.map-box {
    width: 100%;
    height: 100px;
    z-index: -1;
    position: absolute;
    top: 0%;
}

.bkg-box {
    background-color: #f1dacb;box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.24), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding-bottom: 10px;
    z-index: 999;
    margin-top: 150px;
}

.info-box {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.info {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

.info-box-title {
    font-size: 25px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: lighter;
}

.info-box-text {
    font-size: 15px;
    height: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: lighter;
    margin-bottom: 15px;
}

.check-box {
    width: 100%;
    padding-top: 20px;
}

.checkout {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    font-weight: lighter;
    font-size: 35px;
}

.yuan {
    font-size: 20px;
    font-weight: bold;
    color: #ff6200;
}

.checkBTN {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    height: 55px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #ff6200;
    color: #ffffff;
    border: 2px solid #ff6200;
    transition-duration: 0.4s;
}

.checkBTN:hover {
    background-color:white;
    color: #ff6200;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mapimg {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}


.close-btn-order {
    position: absolute;
    background: #FF5D5B;
    border: 1px solid #CF544D;
    top: 2%;
    right: 2%;
    z-index: 999;
}